<div class=" fixed-bottom player">
    <div class=" imagePlayer">
        <div class="imagePlayer__div">
            <div class="imagePlayer__img"></div>
        </div>
        <div class="imagePlayer__name">
            <a href=""> {{file.artist}}</a>
        </div>
        <div class="imagePlayer__track"> 
            <a href=""> {{file.track}}</a>
        </div>
    </div>
    <div class="timePlayer ">
        <div class="timePlayer__div">
            <div class="timePlayer__controls">
                <div class="control-button-wrapper">
                    <button class="button__random">
                        <i class="fa fa-random"></i>
                    </button>
                </div>
                <div class="control-button-wrapper">
                    <button class="button__backward"><i class="fa fa-step-backward"></i></button>
                </div>
                <div class="control-button-wrapper">
                    <button (click)="playPause3(file.url)"class="button__play" id="playButton">
                        <i class="fa fa-play"></i>
                    </button>
                </div>
                <div class="control-button-wrapper">
                    <button class="button__forward">
                        <i class="fa fa-step-forward"></i>
                    </button>
                </div>
                <div class="control-button-wrapper">
                    <button class="button__repeat">
                        <i class="fa fa-redo"></i>
                    </button>
                </div>
            </div>
            <div class="timePlayer__playbackBar">
                <div class="timePlayer__playbackBar__progressTime">2:59</div>
                <div class="timePlayer__playbackBar__barWrapper"> 
                    <div class="timePlayer__playbackBar-bg">
                        <div class="timePlayer__playbackBar__progressBar">
                        </div>
                    </div>
                </div>
                <div class="timePlayer__playbackBar__progressEndTime">5:27</div>
            </div>
        </div>
    </div>
    <div class="controlPlayer">
        <div class="controlPlayer__Controls">
            <div class="control-button-wrapper">
                <button class="button__dots">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
            </div>
            <div class="control-button-wrapper">
                <button class="button__list">
                    <i class="fa fa-list"></i>
                </button>
            </div>
            <div class="control-button-wrapper">
                <button class="button__volumeUp">
                    <i class="fa fa-volume-up"></i>
                </button>
            </div>
            <div class="control-button-wrapper-volume">
                <div class="volume__wrapper">
                    <div class="volume__wrapper__bg">
                        <div class="volume_wrapper__progressBar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>