/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


$color_spotify_green: #1db954;
$color_spotify_white: #b3b3b3;
$color_spotify_gray: #282828;
$color_spotify_graybar: #535353;

body {
	background-color:#222 !important;
	color: white !important;
	font-family: 'Roboto', sans-serif !important;
	justify-content: center;
	align-items: center;
}

/* Animaciones */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1; 
	}
}

hr {
	border-color: white;
}
.puntero {
	cursor: pointer;
}
.img-circle {
	border-radius: 100% !important;
	width: 150px;
}


.cardSpotify{
	width: 280px;
	height: 360px;
	padding: 2rem 1rem;
	background-color: rgb(24, 24, 24);
	display: flex;
	align-items: flex-end;
	box-shadow: 0px 7px 10px rgba(0,0,0,0.5) !important;
	border: 1px solid black !important;
	transition: 0.5s all;
	position: relative;
}
.cardSpotify img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

.cardSpotify:hover{
	transform: translateY(-20px);
}
.cardSpotify:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background: rgb(7,23,14);
	background: linear-gradient(90deg, rgba(7,23,14,1) 10%, rgba(78,87,81,0.8701681356136204) 52%, rgba(7,23,14,1) 90%);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}
.cardSpotify:hover:before{
	opacity: 0.8;
}

.card-body{
	position: relative;
	z-index: 3;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;
}

.cardSpotify:hover .card-body{
	opacity: 1;
	transform: translateY(0px);
}

.card-body h2{
	font-weight: 400;
	margin: 0;
	color: white;
}

.card-title {
	
}
.card-text {
	
}

.btnPlay{
	color: #fff;
	background-color: $color_spotify_green;
	border-radius: 100px;
	height: 40px;
	width: 40px;
	border: 0px;
}

.navbar-custom{
	background-color: black ;
	opacity: 0.8;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;

}

.navbar-custom a{ 
	color: white;
}

.navbar-custom a:hover{ 
	color: $color_spotify_green;
}

.navbar-custom ul a:hover{
	color: $color_spotify_green !important;
}


.title-home {
	padding-left: 16px;
}


.home{
	padding-top: 70px;
}


.player{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: "area1 area2 area2 area3";
	background-color: $color_spotify_gray; 
	opacity: 0.8;
	height: 80px;
	box-shadow: 7px 0px 15px rgba(0,0,0,0.8) !important;
	border: 1px solid black !important;
}

.player a{
	color: white;
}

.player a:hover{
	color: white;
}

.imagePlayer{
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "imgArea1 imgArea2"
						 "imgArea1 imgArea3";
	padding: 0 16px 0 16px;
}

.imagePlayer__div{
	grid-area: imgArea1;
	position: relative;
}
.imagePlayer__img{
	background-color: black;
	width: 56px;
	height: 56px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-image: url('assets/img/noimage.png');
}

.imagePlayer__name{
	grid-area: imgArea2;
	padding-left: 10px;
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: .015em;
}

.imagePlayer__track{
	grid-area: imgArea3;
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: .015em;
}
.imagePlayer__track a{
	color: $color_spotify_white;
}

.timePlayer{
	grid-area: area2;
	position: relative;
}

.timePlayer__div{
	display: grid;
	grid-template-rows: 30px 30px;
	grid-template-areas: "timePlayer__controls"
						 "timePlayer__playbackBar";
	padding: 10px;
}

.timePlayer__controls{
	grid-area: timePlayer__controls;
	display: flex;
	justify-content: center;
	
}

.timePlayer__playbackBar{
	grid-area: timePlayer__playbackBar;
	width: 100%;
	height: 16px;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	align-items: center;
}
.timePlayer__playbackBar__progressTime{
	font-size: 11px;
	color: $color_spotify_white;
}

.timePlayer__playbackBar__barWrapper{
	width: 100%;
	height: 12px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
}

.timePlayer__playbackBar-bg{
	width: 100%;
	height: 4px;
	background-color: $color_spotify_graybar;
	border-radius: 50px;
	display: flex;
	position: absolute;
}

.timePlayer__playbackBar__progressBar{
	background-color: $color_spotify_white;
	width: 50%;
	height: 4px;
	border-radius: 2px;
}

.timePlayer__playbackBar__progressEndTime{
	font-size: 11px;
	color: $color_spotify_white;
}


.controlPlayer{
	grid-area: area3;
	display: grid;

}

.controlPlayer__Controls{
	display: flex;
	justify-content: center;
	align-items: center;
}


.volume__wrapper{
	width: 100%;
	height: 12px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
}

.control-button-wrapper-volume{
	width: 90px;
}

.volume__wrapper__bg{
	width: 100%;
	height: 4px;
	background-color: $color_spotify_graybar;
	border-radius: 50px;
	display: flex;
	position: absolute;
}

.volume_wrapper__progressBar{
	background-color: $color_spotify_white;
	width: 50%;
	height: 4px;
	border-radius: 2px;
}



.button-badge {
	margin-left: 5px;
	margin-top: 5px;
}
.btn-outline-success {
	margin-left: 5px;
}
.img-thumb {
	width: 50px;
	height: 50px;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fast {
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fadeIn {
	animation-name: fadeIn;
}

.table th,td{
	color: white;
	border-top: 0px !important;

}

// Buttons //

.control-button-wrapper{
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.button__random, .button__backward, .button__play, .button__forward, .button__repeat, .button__dots, .button__list, .button__volumeUp{
	background-color: transparent;
	border: transparent;
}

.button__random, .button__backward, .button__play, .button__forward, .button__repeat, .button__dots, .button__list, .button__volumeUp i{
	color: $color_spotify_white;
}






